---
- name: "module_{{ plugin.key }}"
{%  if plugin.value.spec.options is defined %}
  {{ plugin.key }}: {{ '"{{ ' + plugin.key + ' }}"' }}
  register: r_{{ plugin.key }}
  vars:
    {{ plugin.key }}: 
{%    for k,v in plugin.value.spec.options.iteritems() %}
      {{ k }}: {{ '"{{' }} {{ plugin.key }}_{{ k }} | default(omit, True) {{ '}}"' }}
{%    endfor -%}
{%  else %}
  {{ plugin.key }}:
  register: r_{{ plugin.key }}
{%  endif %}

- name: "export r_{{ plugin.key }}"
  set_stats:
    data:
      r_{{ plugin.key }}: "{{ '{{' }} r_{{ plugin.key }} {{ '}}' }}"
